@font-face {
  font-family: 'Pterra';
  src: url('~roguefont/pterra.ttf');
}

@font-face {
	font-family: "Federo";
	src: url('~roguefont/federo.ttf');
}

@font-face {
	font-family: "Rubik";
	src: url('~roguefont/rubik.ttf');
}


.theme-azure_default:root {
  --color-base: #141b15;
  --color-base-start: #141b15;
  --color-base-end: #141b15;

  --font-size: 12px;
  --font-family: 'Pterra';

  // Sidebar
  .SideBarDecoration {
    background-image: url('../assets/azure_default/snek.svg');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 128px;
    margin-top: 32px;
  }

  .SideBar {
    background-image: url('../assets/azure_default/columns.svg');
    background-repeat: repeat-y;
    background-size: 64px;

    width: 64px;
    height: 100vh;

    position: fixed;
    z-index: 500;

    pointer-events: none;
    overflow: none;
  }

  // Basics
  .Layout__content {
    background-image: none;
    padding-left: 64px;

    font-size: 14px;
  }

  .TitleBar {
    background-image: url('../assets/azure_default/topbar.svg');
    background-repeat: repeat-x;
    background-size: 64px;

    padding-left: 64px;
    border: none;
    box-shadow: none;

    &__title {
      font-size: 1.6rem;
    }
  }

  // Component overrides

  // Section
  --section-separator-color: #619940;

  // Button
  --button-background-default: #29332b;
  --button-background-selected: #404744;
  .Button {
    margin-bottom: 2px;
    transition: all 0.5s;
  }

  // Input
  --input-border-color: #56853e;

.loreblurb {
	display: inline-block;
	text-align: center;
	margin: 0.5em;
	background: url('../assets/azure_default/lore_bg.png') no-repeat center/cover;
}

.loreblurb-title {
	display: block;
	font-family: Rubik, TrueType;
	font-size: 3em;
	animation: tremble 0.4s ease-in-out infinite;
	margin-bottom: 0.25em;
}

.loreblurb-desc {
	display: block;
	font-family: Federo, TrueType;
	font-size: 1em;
	animation: tremble 0.4s ease-in-out infinite;
}

.subtle {
  font-size: 0.5;
  color: #333030d7;
  font-style: italic;
}

@keyframes tremble {
	0% {transform: translate(0, 0); }
	25% {transform: translate(1px, 1px); }
	50% {transform: translate(0, 1px); }
	75% {transform: translate(1px, 0); }
	100% {transform: translate(0, 0);}
}


}
